API_SECRET='random secret'

# JWT
JWT_ACCESS_TIME=600
JWT_ACCESS_SECRET='random secret'
JWT_REFRESH_TIME=604800

# Refresh cookie
REFRESH_COOKIE=refreshToken
COOKIE_SECRET='random secret'

# SMTP
DEV_SMTP_PORT=1025
DEV_SMTP_HOST=localhost
MAIL_SENDER=no-reply@example.com